* {
  color: #fff;
}

.services {
  height: 900px;
}
.services .s-main {
  padding: 30px 80px;
}
.services .s-l-side {
  position: relative;
  color: wheat;
}
.services .background {
  background: rgba(0, 0, 225, 0.7);
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 600px;
  left: -50px;
  filter: blur(20px);
  z-index: -2;
}
.services .s-intro {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}
.services .s-intro h1 {
  line-height: 60px;
}
.services .s-intro .intro-services {
  font-weight: bolder;
  color: purple;
  filter: drop-shadow(0px 0px 30px white);
}
.services .desc {
  padding: 20px 0;
  color: rgba(0, 0, 225, 0.7);
}
.services .desc ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.services .desc span,
.services .desc li {
  font-size: 16px;
  line-height: 30px;
  filter: drop-shadow(0px 0px 30px purple);
}
.services .media {
  top: 2rem;
  position: relative;
}
.services .media img {
  width: 80px;
  height: 80px;
}
.services .s-r-side {
  position: relative;
  color: wheat;
  padding: 30px 80px;
}
.services .s-card-1-animate {
  -webkit-animation: s-card-1 1.5s forwards;
          animation: s-card-1 1.5s forwards;
}
.services .s-card-2-animate {
  -webkit-animation: s-card-2 1.5s forwards;
          animation: s-card-2 1.5s forwards;
}
.services .s-card-3-animate {
  -webkit-animation: s-card-3 1.5s forwards;
          animation: s-card-3 1.5s forwards;
}
.services .s-card-1 {
  position: absolute;
  top: -60px;
  right: 0;
  opacity: 0;
}
.services .s-card-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.services .s-card-3 {
  position: absolute;
  top: 20.5rem;
  right: 4.5rem;
  opacity: 0;
}

@-webkit-keyframes s-card-1 {
  from {
    right: -4rem;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes s-card-1 {
  from {
    right: -4rem;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes s-card-2 {
  from {
    left: -4rem;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes s-card-2 {
  from {
    left: -4rem;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes s-card-3 {
  from {
    right: 7rem;
  }
  to {
    right: 4.5rem;
    opacity: 1;
  }
}
@keyframes s-card-3 {
  from {
    right: 7rem;
  }
  to {
    right: 4.5rem;
    opacity: 1;
  }
}
@media only screen and (max-width: 1200px) {
  .services {
    height: 1000px;
  }
  .services .s-r-side {
    display: flex;
    gap: 2rem;
    padding: 30px 0px;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .services .s-r-side * {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @-webkit-keyframes s-card-1 {
    from {
      top: -4rem;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  @keyframes s-card-1 {
    from {
      top: -4rem;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes s-card-2 {
    from {
      top: 8rem;
    }
    to {
      top: 0rem;
      opacity: 1;
    }
  }
  @keyframes s-card-2 {
    from {
      top: 8rem;
    }
    to {
      top: 0rem;
      opacity: 1;
    }
  }
  @-webkit-keyframes s-card-3 {
    from {
      top: -7rem;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  @keyframes s-card-3 {
    from {
      top: -7rem;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
}
@media only screen and (max-width: 850px) {
  .s-r-side {
    justify-content: center;
    transform: scale(0.75);
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 770px) {
  .services {
    height: 1150px;
  }
}
@media only screen and (max-width: 420px) {
  .services {
    height: 2070px;
  }
  .services .s-l-side {
    text-align: center;
  }
  .services .s-l-side .s-intro {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .services .s-l-side .desc > ul {
    font-size: 16px;
  }
  .services .s-r-side {
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: -4rem;
  }
  @-webkit-keyframes s-card-1 {
    from {
      left: 4rem;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  @keyframes s-card-1 {
    from {
      left: 4rem;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes s-card-2 {
    from {
      left: -4rem;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  @keyframes s-card-2 {
    from {
      left: -4rem;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes s-card-3 {
    from {
      left: 4rem;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
  @keyframes s-card-3 {
    from {
      left: 4rem;
    }
    to {
      left: 0;
      opacity: 1;
    }
  }
}/*# sourceMappingURL=services.css.map */