@import "../../variables";

.p-contain {
  margin-top: 50px;
}

.p-main {
  padding: $padding2;
  .head {
    @include flex(center);
    flex-direction: column;
  }
  .highlight {
    color: purple;
    font-weight: bold;
  }
}

.project {
  width: 100%;
  padding: 1rem;
  @include flex2(center, center, 0, row);
  position: relative;
  .img-container {
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 700px;
      height: 450px;
      object-fit: cover;
      object-position: top left;
      filter: grayscale(100%) blur(5px);
      cursor: pointer;
      transition: 500ms;
      &:hover {
        filter: grayscale(0%);
      }
    }
  }
  .content-container {
    background: rgba(black, 0.1);
    padding: 1rem;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    @include flex2(flex-end, center, 10px, column);
    width: 500px;
    position: relative;
    right: 4rem;
    transition: 500ms;
    cursor: pointer;
    .header {
      width: 100%;
      @include flex2(flex-end, center, 7px, column);
      em {
        font-weight: bold;
        &:first-of-type {
          font-size: 16px;
          color: $pry-color;
        }
        &:last-of-type {
          font-size: 25px;
        }
      }
    }
    .content {
      min-height: 100px;
      width: 100%;
      background: $pry-color;
      border-radius: 5px;
      color: white;
      padding: 1rem;
      text-align: right;
      font-size: 16px;
    }
    .tech {
      @include flex2(center, flex-end, 10px, row);
      flex-wrap: wrap;
      em {
        font-size: 15px;
        color: darkblue;
      }
    }
    .actions {
      @include flex2(center, flex-end, 1rem, row);
      i {
        font-size: 25px;
        transition: 200ms;
        &:hover {
          color: darken(#800080, 5);
        }
      }
    }
    &:hover {
      transform: scale(1.03);
    }
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
    .content-container {
      right: 0;
      left: 4rem;
      .header {
        align-items: start;
      }
      .content {
        text-align: left;
      }
      .tech {
        justify-content: start;
      }
      .actions {
        justify-content: start;
        width: 100%;
      }
    }
  }

  @include media(max, 801px) {
    min-height: 700px;
    justify-content: start;
    .content-container {
      width: 70vw;
      position: absolute;
      right: 1rem;
      bottom: 2rem;
    }
    .img-container {
      width: 70vw;
      height: auto;
    }
  }

  @include media(max, 501px) {
    min-height: 400px;
    .img-container {
      position: absolute;
      width: 90vw;
      img {
        width: 90vw;
      }
    }
    .content-container {
      position: relative;
      width: 90vw;
      min-height: 450px;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
    }
    &:nth-of-type(2n) {
      .content-container {
        left: 0;
      }
    }
    &:hover {
      .img-container img {
        filter: grayscale(0%);
        z-index: 5;
      }
    }
  }
}

.project-animate-in {
  animation: slide-in-left 1s forwards;
  &:nth-of-type(2n) {
    animation: slide-in-right 1s forwards;
  }
}

.project-animate-out {
  animation: slide-out-left 1s forwards;
  &:nth-of-type(2n) {
    animation: slide-out-right 1s forwards;
  }
}

.other-projects-container {
  padding: 1rem 8rem;
  @include grid(repeat(3, 1fr), auto, 2rem);
  @include media(max, 1401px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media(max, 1051px) {
    padding: 1rem 1rem;
    align-items: center;
    justify-items: center;
  }
  @include media(max, 701px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.other-project {
  background: $pry-color;
  border-radius: 5px;
  padding: 1rem;
  @include flex2(start, start, 2rem, column);
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  max-width: 400px;
  & > * {
    width: 100%;
  }
  .actions-container {
    @include flex2(center, space-between, 1rem, row);
    & > a i {
      font-size: 30px;
    }
    i {
      transition: 200ms;
      &:hover {
        color: lighten(#541fe1, 10);
      }
    }
    .actions {
      @include flex2(center, center, 1rem, row);
      font-size: 20px;
    }
  }
  .content-container {
    min-height: 150px;
    .header {
      font-weight: bold;
      text-transform: capitalize;
    }
    .content {
      font-size: 16px;
      color: rgba(white, 0.9);
    }
  }
  .tech {
    @include flex2(center, start, 10px, row);
    em {
      font-size: 15px;
      color: rgba(white, 0.8);
    }
  }
  &:hover {
    transform: scale(1.05);
  }
}

@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: 1000px;
  }
}

@keyframes slide-in-left {
  from {
    left: 1000px;
  }
  to {
    left: 0;
  }
}

@keyframes slide-in-right {
  from {
    right: 1000px;
  }
  to {
    right: 0;
  }
}

@keyframes slide-out-left {
  from {
    left: 0;
  }
  to {
    left: 1000px;
  }
}

@keyframes slide-out-right {
  from {
    right: 0;
  }
  to {
    right: 1000px;
  }
}

@media only screen and (max-width: 420px) {
  .p-main {
    padding: 30px 0;
    .head {
      h2 {
        text-align: center;
      }
    }
  }
  .slider {
    width: 100% !important;
  }
}
