.p-contain {
  margin-top: 150px;
}

.p-main {
  padding: 30px 80px;
}
.p-main .head {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}
.p-main .highlight {
  color: purple;
  font-weight: bold;
}

.project {
  width: 100vw;
  padding: 1rem;
  display: flex;
  gap: 0;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.project .img-container {
  border-radius: 5px;
  overflow: hidden;
}
.project .img-container img {
  width: 700px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  filter: grayscale(100%) blur(5px);
  cursor: pointer;
  transition: 500ms;
}
.project .img-container img:hover {
  filter: grayscale(0%);
}
.project .content-container {
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  position: relative;
  right: 4rem;
  transition: 500ms;
  cursor: pointer;
}
.project .content-container .header {
  width: 100%;
  display: flex;
  gap: 7px;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.project .content-container .header em {
  font-weight: bold;
}
.project .content-container .header em:first-of-type {
  font-size: 16px;
  color: #670067;
}
.project .content-container .header em:last-of-type {
  font-size: 25px;
}
.project .content-container .content {
  min-height: 100px;
  width: 100%;
  background: #670067;
  border-radius: 5px;
  color: white;
  padding: 1rem;
  text-align: right;
  font-size: 16px;
}
.project .content-container .tech {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}
.project .content-container .tech em {
  font-size: 15px;
  color: darkblue;
}
.project .content-container .actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.project .content-container .actions i {
  font-size: 25px;
  transition: 200ms;
}
.project .content-container .actions i:hover {
  color: #670067;
}
.project .content-container:hover {
  transform: scale(1.03);
}
@media (max-width: 801px) {
  .project {
    min-height: 700px;
    justify-content: start;
  }
  .project .content-container {
    width: 70vw;
    position: absolute;
    right: 1rem;
    bottom: 2rem;
  }
  .project .img-container {
    width: 70vw;
    height: auto;
  }
}
@media (max-width: 501px) {
  .project .content-container {
    position: absolute;
    width: 90vw;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
  }
}

@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -500px;
  }
}
@media only screen and (max-width: 420px) {
  .p-main .head h2 {
    text-align: center;
  }
  .slider {
    width: 100% !important;
  }
}/*# sourceMappingURL=portfolio.css.map */