@import "../../variables";
.p-contain {
  margin-top: 150px;
}

.p-main {
  padding: $padding2;
  .head {
    @include flex(center);
    flex-direction: column;
  }
  .highlight {
    color: purple;
    font-weight: bold;
  }
}

.project {
  width: 100vw;
  padding: 1rem;
  @include flex2(center, center, 0, row);
  position: relative;
  .img-container {
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 700px;
      height: 450px;
      object-fit: cover;
      object-position: center;
      filter: grayscale(100%) blur(5px);
      cursor: pointer;
      transition: 500ms;
      &:hover {
        filter: grayscale(0%);
      }
    }
  }
  .content-container {
    background: rgba(black, 0.1);
    padding: 1rem;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    @include flex2(flex-end, center, 10px, column);
    width: 500px;
    position: relative;
    right: 4rem;
    transition: 500ms;
    cursor: pointer;
    .header {
      width: 100%;
      @include flex2(flex-end, center, 7px, column);
      em {
        font-weight: bold;
        &:first-of-type {
          font-size: 16px;
          color: darken(#800080, 5);
        }
        &:last-of-type {
          font-size: 25px;
        }
      }
    }
    .content {
      min-height: 100px;
      width: 100%;
      background: darken(#800080, 5);
      border-radius: 5px;
      color: white;
      padding: 1rem;
      text-align: right;
      font-size: 16px;
    }
    .tech {
      @include flex2(center, flex-end, 10px, row);
      flex-wrap: wrap;
      em {
        font-size: 15px;
        color: darkblue;
      }
    }
    .actions {
      @include flex2(center, flex-end, 1rem, row);
      i {
        font-size: 25px;
        transition: 200ms;
        &:hover {
          color: darken(#800080, 5);
        }
      }
    }
    &:hover {
      transform: scale(1.03);
    }
  }

  @include media(max, 801px) {
    min-height: 700px;
    justify-content: start;
    .content-container {
      width: 70vw;
      position: absolute;
      right: 1rem;
      bottom: 2rem;
    }
    .img-container {
      width: 70vw;
      height: auto;
    }
  }

  @include media(max, 501px) {
    .content-container {
      position: absolute;
      width: 90vw;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
    }
  }
}

@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -500px;
  }
}

@media only screen and (max-width: 420px) {
  .p-main {
    .head {
      h2 {
        text-align: center;
      }
    }
  }
  .slider {
    width: 100% !important;
  }
}
