@import "../../variables.scss";
.c-main {
  padding: $padding;
  @include flex(center);
  justify-content: center;
  gap: 5rem;
  transform: scale(0);
}

.c-animate {
  animation: c-main 1.5s forwards;
}

@keyframes c-main {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1032px) {
}
@media only screen and (max-width: 850px) {
}
@media only screen and (max-width: 770px) {
}
@media only screen and (max-width: 551px) {
  .c-main {
    flex-direction: column;
    gap: 2rem;
  }
}
