@import "../../variables.scss";
.con-main {
  margin-top: 150px;
  padding: $padding2;

  .highlight {
    color: purple;
    font-weight: bold;
  }
  .co-r-side {
    form {
      width: 70%;
      filter: drop-shadow($shadow);
    }
  }
}
@media only screen and (max-width: 370px) {
  .con-main {
    padding: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .con-main {
    .co-r-side {
      form {
        width: 100%;
        filter: drop-shadow($shadow);
        .form-group {
          width: 100%;
        }
      }
    }
  }
}
