@import "../../_variables.scss";
header {
  color: #fff;
  padding: 30px 60px;

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: purple;
    }
  }
  span.icon {
    quotes: 40px;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid white;
    display: none;
    cursor: pointer;
  }

  .profile {
    display: none;
    grid-row: 1/5;
    background-color: rgba(white, 0.3);
    width: 100%;
    min-height: 100%;
    border-radius: 20px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    backdrop-filter: blur(10px);
    & > a.social {
      padding: 0 5px;
      img {
        width: 40px;
        height: 40px;
        transition: 0.2s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .img-container {
      grid-column: 1/4;
      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 2px solid white;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}

.h-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.h-l-side {
  flex: 1;
  //background-color: yellow;
}
.h-r-side {
  flex: 1;
  //background-color: beige;
}
.flex {
  @include flex(center);
}

.h-flex {
  @include flex(center);
}

.menu {
  @include flex(center);
  list-style-type: none;
  gap: 2rem;
  justify-content: right;
  > li {
    cursor: pointer;
  }
  //background-color: green;
}

.show {
  position: fixed;
  left: 0;
  top: 0 !important;
  height: 98vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.8);
  list-style-type: none;
  z-index: 999;
  margin: 5px 0;
  padding: 3rem 20px;
  border-radius: 10px;
  @include flex2(center, flex-start, 3rem, column);
  // display: grid;
  // align-items: center;
  // justify-items: center;
  // grid-auto-rows: minmax(10px, auto);
  backdrop-filter: blur(10px);
  text-align: center;
  > li {
    cursor: pointer;
    width: 100%;
    padding: 5px 0;
    &:hover {
      background-color: rgba(white, 0.3);
      border-radius: 5px;
    }
  }
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    left: -1000px;
  }
  to {
    left: 5px;
  }
}

@media only screen and (max-width: 1032px) {
  header {
    .h-row {
      align-items: baseline;
    }
    .h-r-side {
      transform: scale(0.9);
    }
  }
}

@media only screen and (max-width: 850px) {
  .h-row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 770px) {
  header {
    span.icon {
      display: block;
    }
    .profile {
      display: grid;
    }
  }

  .h-row {
    flex-direction: row;
  }
  .menu {
    display: none;
  }
}
