@import "../../variables";
.footer {
  position: relative;
  overflow-y: hidden;
  height: 500px;
  .img {
    position: absolute;
    height: 500px;
    width: 100% !important;
  }

  .content {
    position: relative;
    top: 13rem;
    left: 0%;
    @include flex(center);
    flex-direction: column;
    p,
    h2 {
      line-height: 9px;
    }
    .social {
      img {
        width: 80px;
        height: auto;
      }
    }
  }
}
