@import "../../variables.scss";
.contain {
  margin-top: 150px;

  .t-main {
    padding: $padding2;
    span {
      color: purple;
      font-size: 45px;
      font-weight: bold;
    }
  }
  .testimonial {
    max-width: 500px;
    border-radius: 20px;
    background: $pry-color;
    position: relative;
    & * {
      font-size: 16px;
    }
    .img-container {
      @include flex2(center, center, 5px, column);
      padding: 10px;
      background-color: white;
      border-radius: 20px;
      width: 200px;
      // position: absolute;
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
      }
      .actions {
        @include flex2(center, center, 1rem, row);

        i {
          font-size: 20px;
        }
      }
      & * {
        color: $pry-color;
      }
    }
    p {
      margin-top: 0.5rem;
      padding: 1rem;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 420px) {
  .contain {
    .t-main {
      padding: 30px;
      .col-xl-12 h1 {
        font-size: 30px;
      }
      .col-xl-12 span {
        font-size: 35px;
      }
    }

    .slider {
      .testimonial {
        transform: scale(0.9);
      }
    }
  }
}
