@import "../../variables.scss";
.contain {
  margin-top: 150px;

  .t-main {
    padding: $padding2;
    span {
      color: purple;
      font-size: 45px;
      font-weight: bold;
    }
  }
  .testimonial {
    max-width: 700px;
    padding: 40px;
    border-radius: 50px;
    border: 10px double purple;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: 20px;
    p {
      font-size: 16px;
    }

    img {
      height: 170px;
      border-radius: 50px;
    }
  }

  .slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 420px) {
  .contain {
    .t-main {
      padding: 30px;
      .col-xl-12 h1 {
        font-size: 30px;
      }
      .col-xl-12 span {
        font-size: 35px;
      }
    }

    .slider {
      .testimonial {
        transform: scale(0.8);
      }
    }
  }
}
