@import "../../variables.scss";
.w-main {
  padding: $padding2;
  margin-top: 130px;
  .highlight {
    color: purple;
    font-weight: bold;
  }
  .text {
    font-size: 16px;
  }

  .w-r-side {
    .bg {
      position: relative;
      display: flex;
      align-content: center;
      justify-content: center;
      .bg-circle {
        width: 270px;
        height: 270px;
        position: absolute;
        border-radius: 50%;
      }

      .bg-circle-1 {
        background: darkblue;
        right: 0.5rem;
        top: -3rem;
      }

      .bg-circle-2 {
        background: purple;
        right: 0.5rem;
        bottom: -3rem;
      }

      .circle-animate {
        animation: circle-animate 1.5s forwards;
      }

      .circle {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 70px rgba(0, 0, 225, 0.5);
        transform: rotate(90deg);
        .img-circle {
          position: absolute;
          border-radius: 50%;
          background-color: #fff;
          width: 130px;
          height: 130px;
          display: flex;
          align-content: center;
          justify-content: center;
          border: 5px solid gray;
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
          img {
            transform: scale(0.5);
          }
        }
        .img-center {
          position: relative;
          border-radius: 50%;
          background-color: #fff;
          width: 130px;
          height: 130px;
          display: flex;
          align-content: center;
          justify-content: center;
          border: 5px solid gray;
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
          img {
            transform: scale(0.5);
          }
        }
      }
    }
  }

  @keyframes circle-animate {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .w-main {
    .w-l-side {
      height: 400px;
    }
    .w-r-side {
      .bg {
        .bg-circle-1 {
          right: 7rem;
        }
        .bg-circle-2 {
          right: 7rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .w-main {
    .w-l-side {
      height: 400px;
    }
  }
}
@media only screen and (max-width: 770px) {
  .w-main {
    .w-r-side {
      .bg {
        .bg-circle-1 {
          top: 10rem;
          right: -1rem;
        }
        .bg-circle-2 {
          top: -4rem;
          right: -1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 420px) {
  .w-main {
    height: 800px;
    .w-l-side {
      height: 660px;
    }
    .w-r-side {
      position: relative;
      .bg {
        transform: scale(0.5);
        margin-top: -4rem;
        .bg-circle-1 {
          top: 10rem;
          right: -10rem;
        }
        .bg-circle-2 {
          top: -4rem;
          right: -10rem;
        }
        .circle {
          position: absolute;
        }
      }
    }
  }
}
