@charset "UTF-8";
.w-main {
  padding: 30px 80px;
  margin-top: 130px;
}
.w-main .highlight {
  color: purple;
  font-weight: bold;
}
.w-main .text {
  font-size: 16px;
}
@media (max-width: 651px) {
  .w-main {
    padding: 30px 1rem;
    transform: scale(0.9);
  }
}
@media (max-width: 1201px) {
  .w-main .w-l-side .action {
    display: none;
  }
}
.w-main .w-r-side {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
}
.w-main .w-r-side .places-worked-list {
  padding: 0;
  list-style-type: none;
}
.w-main .w-r-side .places-worked-list li {
  padding: 10px;
  font-size: 16px;
  border-left: 1px solid #670067;
  cursor: pointer;
  transition: 200ms;
  position: relative;
}
.w-main .w-r-side .places-worked-list li.active {
  background: white;
  color: #670067;
}
.w-main .w-r-side .places-worked-list li.active::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -2.5px;
  background: #670067;
}
.w-main .w-r-side .places-worked-list li.active:hover {
  background: white;
  color: #670067;
}
.w-main .w-r-side .places-worked-list li.active:hover::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -2.5px;
  background: #670067;
}
.w-main .w-r-side .places-worked-list li:hover {
  background: white;
  color: #670067;
}
.w-main .w-r-side .places-worked-list li:hover::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -2.5px;
  background: #670067;
}
.w-main .w-r-side .places-worked-list li:hover::before {
  content: none;
}
.w-main .w-r-side .content {
  display: flex;
  gap: 1rem;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.w-main .w-r-side .content .header {
  display: flex;
  gap: 0;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.w-main .w-r-side .content .header em {
  font-size: 18px;
  font-weight: bold;
}
.w-main .w-r-side .content .header em a {
  font-size: 18px;
  color: #670067;
  text-decoration: none;
  font-weight: bold;
}
.w-main .w-r-side .content .header code {
  color: white;
}
.w-main .w-r-side .content .desctiption {
  font-size: 17px;
}
.w-main .w-r-side .content .desctiption * {
  font-size: 17px;
}
.w-main .w-r-side .content .desctiption ul {
  list-style-type: none;
  padding: 0;
}
.w-main .w-r-side .content .desctiption li {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}
.w-main .w-r-side .content .desctiption li::before {
  content: "🖊";
  width: 10px;
  height: 10px;
  position: relative;
  left: 0;
  top: 0;
  color: #670067;
}
@media (max-width: 1201px) {
  .w-main .w-r-side {
    padding: 2rem 0;
  }
}
@media (max-width: 551px) {
  .w-main .w-r-side {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .w-main .w-r-side .places-worked-list {
    display: flex;
    gap: 1rem;
    align-items: end;
    justify-content: start;
    flex-direction: row;
    border-bottom: 1px solid #670067;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
  .w-main .w-r-side .places-worked-list::-webkit-scrollbar {
    height: 5px;
  }
  .w-main .w-r-side .places-worked-list::-webkit-scrollbar-track {
    background: white;
  }
  .w-main .w-r-side .places-worked-list::-webkit-scrollbar-thumb {
    background: #670067;
  }
  .w-main .w-r-side .places-worked-list li {
    border-left: 0;
    position: relative;
  }
  .w-main .w-r-side .places-worked-list li.active {
    background: white;
    color: #670067;
  }
  .w-main .w-r-side .places-worked-list li.active::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 95%;
    left: 0;
    background: #670067;
  }
  .w-main .w-r-side .places-worked-list li.active:hover {
    background: white;
    color: #670067;
  }
  .w-main .w-r-side .places-worked-list li.active:hover::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 95%;
    left: 0;
    background: #670067;
  }
}
@keyframes circle-animate {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=work.css.map */